/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8;

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #a0272d = rgb(160, 39, 45)
- Tints:
- Shades:


- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family:"Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

.abc-title {
  color: rgba(160, 39, 45, 0.5);
  font-size: 4.4rem;
  margin: 2.4rem 0;
}

p {
  font-size: 1.6rem;
}

/*a:link, a:visited?*/
a {
    text-decoration: none;
}

/**********************************************/
/*HEADER*/
/**********************************************/

.header-homepage {
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(../img/hero2.jpg);
  background-size: cover;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2.4rem;
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.1);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.6rem 1.6rem;
}

.logo {
  height: 8rem;
  background-color: #fff;
  border-radius: 13px;
}

.btn-mobile-nav {
  border: none;
  background: none;
  pointer: cursor;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
  color: #555;
  /*z-index: 1000;*/
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.search-bar-homepage {
  display: flex;
  justify-content: center;
  height: 4rem;
  position: relative;
  background-color: #f9f9f9;
  margin: 0 8rem;
  border-radius: 6px;
}

input {
  border: none;
  height: 100%;
  width: 70%;
  background-color: #f9f9f9;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
}

input::placeholder {
  color: #ccc;
}

.icon-search {
  height: 2rem;
  width: 2rem;
  color: #ccc;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}

/**********************************************/
/*MOBILE NAVIGATION*/
/**********************************************/

.btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

.main-nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  padding: 4.8rem;
  transform: translateX(100%);


  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease-in;

  z-index: 999;

  /* Hide the navigation*/
  /* Problem with display none, can't do animations on it*/
  /*display: none;*/

  /* 1) Hide element visuall*/
  opacity: 0;

  /* 2) Make it unacessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide from screen readers*/
  visibility: hidden;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

/*.main-nav-list {
  gap: 0.8rem;
}*/

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.6rem;
}



/****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.admin-link:link,
.admin-link:visited {
  color: #a0272d;
}


/**********************************************/
/*SECTION LINK*/
/**********************************************/

.section-findby {
  height: 12rem;
  margin: 2.4rem auto;
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.1);

}

.section-find-by a:link,
.section-findby a:visited {
  pointer: cursor;
}

.section-findby-author {
  text-decoration: none;
  /*background-color: #bdccd4;*/
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../img/link-author.jpg);
  background-size: 130%;
  background-position: left center;
}

.section-findby-title {
  /*background-color: #c7c8c3;*/
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../img/link-movie1.png);
  background-size: 100%;
  background-position: center top;

}

/*.section-findby-title h2,
.section-findby-title p {
  color: #fff;
}*/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  height: 100%;
}

.flexbox-center {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.findby-box {
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #555;
}

/*.findby-box h2 {
  font-size: 2.4rem;
}*/

/*.findby-box p {
  font-size: 1.6rem;
}*/


/**********************************************/
/*SECTION RANDOM PICK*/
/**********************************************/

.section-featured {
  margin: 2.4rem auto;
  background-color: rgba(160, 39, 45, 0.35);
  /*height: 25.6rem;*/
  padding: 1.2rem 0 2.4rem 0;
}

.featured-title {
  color: #fff;
  padding: 1.2rem 0;

}

.featured-box {
  /*height: 20rem;*/
  padding: 2.4rem;
  background-color: #fff;
  border: 5px solid #a0272d;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.featured-box a:link,
.featured-box a:visited {
  color: #555;
  pointer: cursor;
}

.featured-box img {
  width: 100%;
  padding-top: 2.4rem;
}



/**********************************************/
/*FIND BY AUTHOR PAGE*/
/**********************************************/

.header-reg {
  height: 20rem;
  background-size: 130%;
  background-position: left center;

}

.header-author {
  /*background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/link-author.jpg);*/
  background-image: linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url(../img/wang-bing.jpg);

}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.header-text h1 {
  text-transform: uppercase;
  font-size: 3.6rem;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3rem;
}

.search-bar {
  height: 4rem;
  width: 90%;
  background-color: #f9f9f9;
  margin-top: 2.4rem;
  border-radius: 6px;
  grid-row: 1;
  justify-self: end;

  display: flex;
  justify-content: center;
  position: relative;
}

.search-bar input {
  width: 80%;
  padding-left: 1.2rem;
}

.language-links {
  height: 2.4rem;
  grid-row: 2;
  justify-self: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  pointer: cursor;
}

.language-links a:link,
.language-links a:visited {
  color: #555;
  text-decoration: underline;
  font-size: 1.2rem;
}

.section-authors {
  width: 90%;
  grid-row: 3;
  justify-self: end;
  overflow: scroll;
}

.authors-list {
  padding-left: 0.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}

.side-abc-scroll {
  height: 100vh;
  margin-top: 1.4rem;
  grid-row: 1 / 4;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  /*background-color: orange;*/
}

.side-abc-scroll ul {
  list-style: none;
}

/**********************************************/
/*FIND BY TITLE PAGE*/
/**********************************************/

.header-movies {
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../img/header-movies.jpg);
}

/**********************************************/
/*DOCUMENTARY PAGE*/
/**********************************************/

.doc-title {
  margin: 1.6rem 0 0.8rem 0;
  font-size: 3rem;
}

.doc-author {
  padding-left: 0.8rem;
  margin-bottom: 2.4rem;
  /*font-size: 1.6rem;*/
}

.doc-author a:link,
.doc-author a:visited {
  color: #555;
  text-decoration: underline;
}

.doc-infos {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.2rem 0.8rem;
  margin-bottom: 2.4rem;
  display: flex;
  gap: 3.2rem;
  background-color: #efefef;
}

.doc-icon {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0 0.2rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.doc-chinese-name {
  align-self: flex-end;
  margin-left: auto;
}

.doc-poster {
  width: 100%;
  text-align: center;
  margin-bottom: 2.4rem;
}

.doc-summary {
  font-size:  1.4rem;
  line-height:  1.4;
  text-indent: 3rem;
}

.doc-summary p {
  font-size:  1.4rem;
  margin-bottom: 4rem;
}


.doc-summary-short {
}

.doc-summary-long  {
  display: none;
}

.active .doc-summary-long {
  display: block;
  margin-top:  1.6rem;
}



.active .plus-icon {
  display:  none;
}

.doc-awards {
  margin-top: 1.6rem;
  background-color: #efefef;
  padding: 1.2rem 0.8rem;
  margin-bottom:  2rem;
}

.doc-awards h3 {
  margin-bottom: 1.6rem;
}

/*.doc-awards-long {
  display: none;
}*/

/*.active .doc-awards-long {
  display: block;
  margin-top: 1.6rem;
}*/

.doc-awards-list {
  padding: 0 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}


.star-icon {
  height:  1.2rem;
  width: 1.2rem;
  margin-right: 0.8rem;
  color: #a0272d;
  /*stroke: #a0272d;*/
}

.doc-trailer {
  margin: 4rem auto;
}

.doc-trailer h3 {
  margin-bottom: 1.6rem;
}

.doc-trailer-video {
  max-width: 100%;
}

.doc-more-infos {
  padding: 2.4rem 0.8rem;
  background-color: rgba(160, 39, 45, 0.1);
}


.doc-more-infos h2 {
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.doc-links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.doc-links-list a:link,
.doc-links-list a:visited {
  color: rgba(160, 39, 45, 0.6);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}



/**********************************************/
/*FOOTER*/
/**********************************************/


footer {
  padding-bottom:  2.2rem;
}

.flex-footer {
  height: 6rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}



/**********************************************/
/*AUTHOR PAGE*/
/**********************************************/

.author-photo {
  width: 100%;
}

.section-author-text {
  margin: 4rem 0;
  /*margin-bottom: 4rem;*/
}

.section-author-text h1 {
  text-align:  center;
  margin-bottom: 1.6rem;
}

.section-author-bio {
  line-height:  1.4;
  text-indent: 3rem;
}

.section-author-bio p {
  font-size:  1.4rem;
}

.section-author-bio-long {
  display: none;
}

.active .section-author-bio-long {
  display: block;
  margin-top: 1.6rem;
}

.active .section-author-bio-long span {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  text-indent: 0;
}

.section-author-filmo {
  margin-bottom: 4rem;
}

.section-author-filmo-title {
  margin-bottom: 1.8rem;
}

.section-author-filmo-list a:link,
.section-author-filmo-list a:visited {
  color: #777;
  font-weight: 600;
  font-size: 1.4rem;
}

.section-author-filmo-list ul {
  padding:  0 1.2rem;
  /*list-style: none;*/
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}


/**********************************************/
/*ADD A DIRECTOR PAGE*/
/**********************************************/

.section-add-director {
  margin-bottom:  20rem;
}

.section-add-director h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
}

.section-add-director h3 {
  margin-top:  2rem;
}

.director-upload {
  display:  flex;
  flex-direction:  column;
  gap: 1rem;
  width:  100%;
}

.director-upload input {
  width:  100%;
  padding: 0.4rem 0 0.4rem 0.4rem;
}

.director-upload input::placeholder {
  font-size: 1.2rem;
}

.form-bio-text {
  height:  15rem;
}

.director-upload button {
  border-radius:  6px;
}

.director-upload .add-link-button {
  cursor:  pointer;
  height: 2rem;
  width: 2rem;
}

.useful-link {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.add-link-section {
  display:  flex;
  align-items: center;
  gap: 1.2rem;
  /*justify-content: space-around;*/
}
